@using EntityPelicula
@model List<EPelicula>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (TempData["Error"] != null)
{
    @TempData["Error"]
}
@if (TempData["mensaje"] != null)
{
    @TempData["mensaje"]
}
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Genero</th>
            <th>Fecha de emision</th>
            <th>Director</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Genero</td>
                <td>@item.Fecha</td>
                <td>@item.Director</td>
                <td>
                    <a href="/Home/Editar_get/@item.Id">Editar</a>
                    <a href="/Home/Eliminar/@item.Id" onclick="return confirm('¿Seguro que desea eliminar la pelicula?')">Eliminar</a>
                   
                </td>
            </tr>
        }
        @Html.ActionLink("Agregar" , "Agregar_get")
        @using (Html.BeginForm())
        {
                @Html.TextBox("Palabra")

            <input type="submit" value="Buscar" formaction="/Home/Buscar"/>
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Genero</th>
                        <th>Fecha</th>
                        <th>Director</th>

                    </tr>
                </thead>
            </table>
        }
            
            
</tbody>
</table>
